{% extends "public/templates/public_template.html" %} {% block title %} Jinja {%
endblock %} {% block main %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Jinja template</h1>
      <hr />
      <!-- should have access to the information given from the views -->
      <h4>Variable</h4>
      <p>Name: {{ my_name }}</p>
      <hr />
      <h4>Looping through passed props</h4>
      <hr />
      <!-- for the "i" in the iterable-->
      <ul>
        {% for lang in langs %}
        <!-- in a loop  you have access to loop -->
         <li>{{loop.index}}: {{lang}} </li>
        {% endfor %}
      </ul>

      <h4>Looping a Dict</h4>
      <hr />
      <!-- for the "i" in the iterable-->
      <ul>
        {% for k, v in friends.items() %}
        <!-- in a loop  you have access to loop -->
         <li>{{k}}: {{v}} </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
